div#banner-one
  div.banner-one-container
    div.banner-one-container-info
      div.banner-one-container-text
        div.banner-one-container-text-info
          h1.banner-one-container-text-header #{HeadlineDynamicContent}
          div
            ul.banner-one-container-text-bullets
              li.bullet
                i(class="fas fa-check-circle") 
                | 
                = Bullet1
              li.bullet
                i(class="fas fa-check-circle") 
                | 
                = Bullet2
              li.bullet
                i(class="fas fa-check-circle") 
                | 
                = Bullet3
              li.bullet
                i(class="fas fa-check-circle") 
                | 
                = Bullet4
        a(class='large-btn' href='https://www.taskbooker.be/booker')= CTAtext
      div.banner-one-container-img
        img(src='../../../assets/images/discussion.svg' class='banner-one-img down')
    div.banner-one-bottom
        div.banner-one-breadcrumbs
          if Breadcrumb1category
            a(class=(!Breadcrumb2category ? 'banner-one-breadcrumb-dead' : 'banner-one-breadcrumb-live') href='/' + Breadcrumb1) #{Breadcrumb1category} 
          if Breadcrumb2category
            div.inner-breadcrumb
              <i class="material-icons bc">chevron_right</i>
              a(class=(!Breadcrumb3category ? 'banner-one-breadcrumb-dead' : 'banner-one-breadcrumb-live') href='/' + Breadcrumb1 + '/' + Breadcrumb2) #{Breadcrumb2category}
          if Breadcrumb3category
            div.inner-breadcrumb
              <i class="material-icons bc">chevron_right</i>
              a(class='banner-one-breadcrumb-dead' href='/' + Breadcrumb1 + '/' + Breadcrumb2 + '/' + Breadcrumb3) #{Breadcrumb3category}
        div.banner-one-button
          a(class='sticky-btn' href='https://www.taskbooker.be/booker')= CTAtext    