div#banner-one
  div.banner-one-container
    div.banner-one-container-text
      div.banner-one-container-text-info
        h1.banner-one-container-text-header #{HeadlineDynamicContent}
        div.banner-one-container-text-bullets
          ul
            li.bullet
              i(class="fas fa-check-circle") 
              | 
              = Bullet1
            li.bullet
              i(class="fas fa-check-circle") 
              | 
              = Bullet2
            li.bullet
              i(class="fas fa-check-circle") 
              | 
              = Bullet3
            li.bullet
              i(class="fas fa-check-circle") 
              | 
              = Bullet4
      button(class='large-btn')= CTAtext
    div.banner-one-container-img
      img(src='../../../assets/images/vrow_phone.svg' class='banner-one-img down')
      img(src='../../../assets/images/man_tablet.svg' class='banner-one-img up')
  div.banner-one-breadcrumbs
    if Breadcrumb1
      a(class='banner-one-breadcrumb' href='https://taskbooker.be/') #{Breadcrumb1category} 
    if Breadcrumb2
      div.inner-breadcrumb
        <i class="material-icons bc">chevron_right</i>
        a(class='banner-one-breadcrumb' href='https://taskbooker.be/') #{Breadcrumb2category}
    if Breadcrumb3
      div.inner-breadcrumb
        <i class="material-icons bc">chevron_right</i>
        a(class='banner-one-breadcrumb' href='https://taskbooker.be/') #{Breadcrumb3category}
button(class='sticky-btn')= CTAtext  
